<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<p>List of all restaurants</p>

<ul>
  <% @restaurants.each do |i| %>
    <li><%= i.name %></li>
    <%= i.address %>
    <%= i.phone_number %>
    <%= i.category %>
  <% end %>
</ul>